// Homes Store Colors
  orange        = #E46305
  deepblue      = #002544
  corpblue      = #016ABC
  ltblue        = #B9DFFF
  ltltblue      = #ECF6FF
  remax-red     = #D12435
  remax-blue    = #054189
  remax-white   = #FFFFFF
  remax-black   = #1F1A17
  google-red    = #C61800
  linkedin-blue = #78C1DD
  facebook-blue = #899ECB
  twitter-blue  = #9AE4E8
  corpbluelt    = #0CF
  corpgreen     = #0F0

// COLOURlovers Palettes (http://www.colourlovers.com)
// hulltruth enticers 3 (http://www.colourlovers.com/palette/1270315/hulltruth_enticers_3)
  Broken-White        = #F2F2F2
  Boat-Lover          = #4E6797
  Momentary-Glint     = #BFF646
  Sunlit-Moment       = #9BF047
  Chartreuse-Sparkle  = #7CE348

// Gowalla Pastel (http://www.colourlovers.com/palette/1411756/Gowalla_Pastel)
  Gowalla-blue          = #A1CDFB
  Gowalla-turquoise     = #BFEADD
  Gowalla-purple        = #C4B0DD
  Gowalla-light-yellow  = #FAE07E
  Gowalla-pale-green    = #E5F9A6

// Depot (http://www.colourlovers.com/palette/1447509/Depot)
  white                 = #FFFFFF
  white-brown           = #DCDBCF
  Sextus                = #448CCB
  vitra-com-dark-2      = #34363E
  I-hope-you-think      = #2C2D35

// Fonts
headlineFontFamily      = Oxygen, Helvetica, Arial, sans-serif;
copyFontFamily          = Oxygen, Helvetica, Arial, sans-serif;
footerFontFamily        = "Open Sans Condensed", sans-serif;